@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model EFCapstone___To_Do.Models.ToDoList.TaskListViewModel
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />



<h2>CURRENT USER ACCOUNT: @Model.UserAccount</h2>
<br />
<div><a class="text-important" asp-controller="ToDoList" asp-action="SortByDueDate">Sort By Due Date</a></div>
<div><a class="text-important" asp-controller="ToDoList" asp-action="SortByCompletionStatus">Sort By Completion Status</a></div>
<form asp-controller="ToDoList" asp-action="Search">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<br/>
<div>
@{
    foreach (var task in Model.Tasks)
    {
    <div>

        @{ if (task.IsDone == "YES")
            {

                <p><s>Description: @task.Description</s></p>
                <p><s>Due Date: @task.DueDate</s></p>
                <p><s>Complete Status: @task.IsDone</s></p>
            }
            else
            {
                <p><b>Description:</b> @task.Description</p>
                <p><b>Due Date:</b> @task.DueDate</p>
                <p><b>Complete Status:</b> @task.IsDone</p>
            }
        }



        @*add strike and grey out entire task*@

        <div><a class="text-success" asp-controller="ToDoList" asp-action="MarkComplete" asp-route-id="@task.TaskID">Mark Item Complete</a></div>
        <div><a class="text-danger" asp-controller="ToDoList" asp-action="DeleteItem" asp-route-id="@task.TaskID">Delete Task</a></div>
        <br />
    </div>

    }
}
    </div>
